#selector-fecha{
	margin-top: 1em;
	margin-bottom: 1em;
}

.div-dia{
	border-radius: 3em;
    height: 3.5em;
    width: 7em;
    display: inline-block;
    text-align: center;
}

.div-hora{
    opacity:0.5;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 7em;
    width: 7em;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid gray; 
    position: relative;
    transition: opacity 1s;
}

.div-hora:hover{
	opacity: 1;
}

.span-imagen-actividad{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	opacity: 1;
}

.imagen-actividad{
	width:3em;
	border-radius: 0.5em;
	opacity: 1;
	vertical-align: middle;
}

.imagen-previsualizada{
	width: 6em;
	opacity: 1;
	border-radius: 1.5em;
	margin: 1em;
	transition: border-radius 1s, width 1s, box-shadow 2s;
}

.imagen-previsualizada:hover{
	border-radius: 0.5em;
	width: 8em;
	box-shadow: 1px 1px 1px 1px #eeeeee;
}

.numero-bloque-hora{
	border: 1px solid gray;
	border-radius: 1em;
	background: #fafafa;
	width: 50%;
	margin: auto;
	margin-top: 0.5em;
}

.link-editar-actividad{
	position: absolute;
	bottom: 0.2em;
	left:35%;
	background-color: #fafafa;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	color: gray;
}

body{
	overflow: hidden;
}

section, aside{
	height: 91vh;
	border-bottom: 1px solid grey;
	overflow-y: auto;
    position: relative;
    width: 100%;
    padding: 1em;
}