<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link href="public/styles/materialize.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="public/scripts/materialize.min.js" defer></script>		
		<title>GC Clone</title>
	</head>
	<body class="grey lighten-2">
	<!-- INICIO NAVBAR -->
	<nav>
	  <div class="nav-wrapper teal">
	    <a href="/" class="brand-logo left"><i class="material-icons">perm_contact_calendar</i>GC Clone</a>
	    <ul class="right">
	      <li><a href="Login"><i class="material-icons left">keyboard_arrow_right</i>Iniciar Sesión</a></li>
	      <li><a href="Registro"><i class="material-icons left">person_add</i>Registrarse</a></li>
	    </ul>
	  </div>
	</nav>
	<!-- FIN NAVBAR -->
	</body>
</html>